body {
  font-family: cursive;
}

.text-yellow {
  color: #ffeb3b;
  margin-bottom: 0px;
}

.darkText {
  color: #333;
}

.aboutMe {
  width: 100%;
  margin-top: 30px;
  background: #948b8b;
  padding-bottom: 20px;
}

.swiper-container {
  width: 650px;
  height: 220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.about-title {
  padding-top: 30px;
  color: #ffeb3b;
}

.yellow-hr {
  background-color: #ffeb3b;
  height: 1px;
}

.dark-hr {
  background-color: #333;
  height: 1px;
}

.roadmap {
  width: 90%;
  height: 90%;
  border: 2px solid #535252;
}

figure {
  width: auto;
}

figcaption {
  width: 70%;
  text-align: justify;
}

.cursive-text {
  text-align: right;
}

.study {
  padding-top: 20px;
}

.card {
  width: 400px;
  margin: auto;
  background-color: #535252;
  position: relative;
  cursor: pointer;
  border: none;
}

.card .face {
  width: 400px;
  height: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  background: #333;
  z-index: 1;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  font-size: 20px;
}

.card:hover .face.face1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card .face.face1 .content {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .face.face1 .content {
  opacity: 1;
}

.card .face.face2 {
  position: relative;
  background: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.card:hover .face.face2 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card .face.face2 .content p {
  margin: auto;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
  color: #333;
  text-align: justify;
}

.card-img {
  width: 100%;
  height: 100%;
}

.projects {
  background: #535252;
}

.linkcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects-title {
  padding: 20px;
}

.contacts {
  background: #333;
}

.btn-block {
  text-align: center;
  padding: 20px;
}

@media (max-width: 700px) {
  .swiper-container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .card, .card .face {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .card .face.face2 .content p {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .card .face.face2 .content h4 {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .card .face.face2 .content hr {
    display: none;
  }
}

@media (max-width: 450px) {
  .card-img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 450px) {
  .about-title {
    font-size: 24px;
  }
}

@media (max-width: 450px) {
  .stack {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */